// ? Importing the colors variables from _colors.scss.
@import "./SASS/variables/colors";

// ? Importing the global rules styles from _global-rules.scss.
@import "./SASS/layout/_global-rules.scss";

/* Starting the designs for mobile screens */

// ? Mixins::after

@mixin outerReplyMobile {
  display: flex;
  margin: 1rem 0.5rem;
}

@mixin mainMobile {
  width: 96%;
  height: 30vh;
  padding: 1rem;
  display: grid;
  grid-template-columns: auto repeat(3, 1fr);
  grid-template-rows: auto 1fr auto;
  row-gap: 0.5rem;
  background-color: #{$white};
  border-radius: 0.5rem;
}

@mixin soreContMobile {
  grid-area: 3 / 1 / 4 / 3;
  width: 7rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #{$light-Gray};
  padding: 5px;
  border-radius: 0.5rem;
}

@mixin scoreImageMobile {
  width: 16px;
  cursor: pointer;
}

@mixin scoreTextMobile {
  font-size: large;
  font-weight: 500;
  color: #{$moderate-Blue};
}

@mixin userImageMobile {
  grid-area: 1 / 1 / 2 / 2;
  width: 32px;
}

@mixin usernameMobile {
  grid-area: 1 / 2 / 2 / 3;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin createdAtMobile {
  grid-area: 1 / 3 / 2 / 4;
  margin-left: 0.8rem;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #{$grayish-Blue};
}

@mixin reply-iconMobile {
  grid-area: 3 / 4 / 4 / 5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75px;
  cursor: pointer;
}

@mixin commentsTextMobile {
  width: 100%;
  grid-area: 2 / 1 / 3 / 5;
  margin-top: 1rem;
  font-size: 0.95rem;
  color: #{$grayish-Blue};
  letter-spacing: 0.3px;
  line-height: 1.3rem;
}

// ? Mobile screens styles START:

body {
  font-family: "Rubik", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #{$very-Light-Gray};
  display: flex;
  justify-content: center;
  align-items: center;
  .comments-generator {
    width: 95%;
    height: 25vh;
    position: fixed;
    bottom: 0;
    left: 2.5%;
    background-color: #{$white};
    border-radius: 0.5rem;
    margin: 1rem 0;
    form {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-rows: 1fr auto;
      grid-template-columns: auto auto auto 100px;
      padding: 1rem;
      .user-image-cg {
        grid-area: 2 / 1 / 3 / 2;
        width: 48px;
        transform: translateY(0.7rem);
      }
      #comments {
        width: 90%;
        height: 12vh;
        grid-area: 1 / 1 / 2 / 5;
        border-color: #{$light-Gray};
        outline-color: #{$light-Gray};
        border-radius: 1rem;
        background-color: transparent;
        font-size: larger;
        transform: translateX(7%);
        padding: 1rem;
        margin-left: 1px;
      }
      #comments:focus {
        outline: 1px solid black;
        border: none;
      }
      #send-btn {
        grid-area: 2 / 4 / 4 / 5;
        background-color: #{$moderate-Blue};
        color: #{$white};
        height: 6vh;
        width: 100%;
        border: none;
        border-radius: 1rem;
        margin-top: 0.5rem;
        font-size: larger;
      }
    }
  }
  .comments-reply {
    width: 95%;
    height: 71vh;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 4.5%;
    scrollbar-width: thin;
    scrollbar-color: hsl(210, 23%, 27%) #e4e4e4;
    .reply-one {
      @include outerReplyMobile();
      .main {
        @include mainMobile();
        .score-cont {
          @include soreContMobile();
          img {
            @include scoreImageMobile();
          }
          .score {
            @include scoreTextMobile();
          }
        }
        .user-image {
          @include userImageMobile();
        }
        .username {
          @include usernameMobile();
        }
        .created-at {
          @include createdAtMobile();
        }
        .reply-icon {
          @include reply-iconMobile();
        }
      }
      .comment-text {
        @include commentsTextMobile();
      }
    }

    .reply-two {
      margin: 1rem 0.5rem;
      .main {
        @include mainMobile();
        .score-cont {
          @include soreContMobile();
          img {
            @include scoreImageMobile();
          }
          .score {
            @include scoreTextMobile();
          }
        }
        .user-image {
          @include userImageMobile();
        }
        .username {
          @include usernameMobile();
        }
        .created-at {
          @include createdAtMobile();
        }
        .reply-icon {
          @include reply-iconMobile();
        }
        .comment-text {
          @include commentsTextMobile();
        }
      }
      .replies {
        border-left: 5px solid #{$light-Gray};
        padding-left: 0.5rem;
        margin: 1rem 0.5rem;
        .reply-one {
          @include mainMobile();
          .score-cont {
            @include soreContMobile();
            img {
              @include scoreImageMobile();
            }
            .score {
              @include scoreTextMobile();
            }
          }
          .user-image {
            @include userImageMobile();
          }
          .username {
            @include usernameMobile();
          }
          .created-at {
            @include createdAtMobile();
            margin-left: 0.4rem;
            width: 4.2rem;
          }
          .reply-icon {
            @include reply-iconMobile();
          }
          .comment-text {
            @include commentsTextMobile();
          }
        }
        .reply-two {
          @include mainMobile();
          .score-cont {
            @include soreContMobile();
            img {
              @include scoreImageMobile();
            }
            .score {
              @include scoreTextMobile();
            }
          }
          .user-image {
            @include userImageMobile();
          }
          .username {
            @include usernameMobile();
          }
          .created-at {
            @include createdAtMobile();
          }
          .reply-icon {
            @include reply-iconMobile();
          }
          .comment-text {
            @include commentsTextMobile();
          }
        }
      }
    }
    .reply {
      @include outerReplyMobile();
      .main {
        @include mainMobile();
        .score-cont {
          @include soreContMobile();
          img {
            @include scoreImageMobile();
          }
          .score {
            @include scoreTextMobile();
          }
        }
        .user-image {
          @include userImageMobile();
        }
        .username {
          @include usernameMobile();
        }
        .created-at {
          @include createdAtMobile();
        }
        .reply-icon {
          @include reply-iconMobile();
        }
      }
      .comment-text {
        @include commentsTextMobile();
      }
    }
  }
}

/* Starting the styling for the big tablet screens and above. */

@media only screen and (min-width: 750px) {
  .container {
    .comments-generator {
      width: 50%;
      height: 22vh;
      left: 25%;
      margin: 2rem 0;
      form {
        grid-template-columns: 64px 1fr 150px;
        grid-row: 1fr;
        .user-image-cg {
          grid-area: 1 / 1 / 2 / 2;
        }
        #comments {
          width: 95%;
          height: 15vh;
          grid-area: 1 / 2 / 2 / 3;
          transform: translateX(-1%);
        }
        #send-btn {
          width: 150px;
          grid-area: 1 / 3 / 2 / 4;
        }
      }
    }
    .comments-reply {
      width: 50%;
      height: 72vh;
      overflow: auto;
      position: fixed;
      top: 0;
      left: 25%;
      .reply-one {
        .main {
          height: 20vh;
          grid-template-rows: repeat(3, 1fr);
          grid-template-columns: repeat(8, 1fr);
          .score-cont {
            grid-area: 1 / 1 / 3 / 2;
            flex-direction: column;
            width: 2rem;
            height: 5rem;
            & img {
              width: 10px;
            }
            .score {
              font-size: small;
            }
          }
          .user-image {
            grid-area: 1 / 2 / 2 / 3;
          }
          .username {
            grid-area: 1 / 3 / 2 / 4;
            margin-left: -60px;
          }
          .created-at {
            grid-area: 1 / 4 / 2 / 5;
            width: 5rem;
          }
          .reply-icon {
            grid-area: 1 / 8 / 2 / 9;
          }
          .comment-text {
            grid-area: 2 / 2 / 4 / 9;
            line-height: 1rem;
            margin-top: 0.5rem;
            letter-spacing: 0;
            font-size: 0.9rem;
          }
        }
      }
      .reply-two {
        .main {
          height: 20vh;
          grid-template-rows: repeat(3, 1fr);
          grid-template-columns: repeat(8, 1fr);
          .score-cont {
            grid-area: 1 / 1 / 3 / 2;
            flex-direction: column;
            width: 2rem;
            height: 5rem;
            & img {
              width: 10px;
            }
            .score {
              font-size: small;
            }
          }
          .user-image {
            grid-area: 1 / 2 / 2 / 3;
          }
          .username {
            grid-area: 1 / 3 / 2 / 4;
            margin-left: -60px;
          }
          .created-at {
            grid-area: 1 / 4 / 2 / 5;
            width: 5rem;
          }
          .reply-icon {
            grid-area: 1 / 8 / 2 / 9;
          }
          .comment-text {
            grid-area: 2 / 2 / 4 / 9;
            line-height: 1rem;
            margin-top: 0.5rem;
            letter-spacing: 0;
            font-size: 0.9rem;
          }
        }
        .replies {
          .reply-one {
            height: 20vh;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(8, 1fr);
            .score-cont {
              grid-area: 1 / 1 / 3 / 2;
              flex-direction: column;
              width: 2rem;
              height: 5rem;
              & img {
                width: 10px;
              }
              .score {
                font-size: small;
              }
            }
            .user-image {
              grid-area: 1 / 2 / 2 / 3;
            }
            .username {
              grid-area: 1 / 3 / 2 / 4;
              margin-left: -60px;
            }
            .created-at {
              grid-area: 1 / 4 / 2 / 5;
              width: 5rem;
            }
            .edit-icon {
              grid-area: 1 / 8 / 2 / 9;
            }
            .comment-text {
              grid-area: 2 / 2 / 4 / 9;
              line-height: 1rem;
              margin-top: 0.5rem;
              letter-spacing: 0;
              font-size: 0.9rem;
            }
          }
          .reply-two {
            height: 20vh;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(8, 1fr);
            .score-cont {
              grid-area: 1 / 1 / 3 / 2;
              flex-direction: column;
              width: 2rem;
              height: 5rem;
              & img {
                width: 10px;
              }
              .score {
                font-size: small;
              }
            }
            .user-image {
              grid-area: 1 / 2 / 2 / 3;
            }
            .username {
              grid-area: 1 / 3 / 2 / 4;
              margin-left: -60px;
            }
            .created-at {
              grid-area: 1 / 4 / 2 / 5;
              width: 5rem;
            }
            .edit-icon {
              grid-area: 1 / 8 / 2 / 9;
            }
            .comment-text {
              grid-area: 2 / 2 / 4 / 9;
              line-height: 1rem;
              margin-top: 0.5rem;
              letter-spacing: 0;
              font-size: 0.9rem;
            }
          }
        }
      }
      .reply {
        .main {
          height: 20vh;
          grid-template-rows: repeat(3, 1fr);
          grid-template-columns: repeat(8, 1fr);
          .score-cont {
            grid-area: 1 / 1 / 3 / 2;
            flex-direction: column;
            width: 2rem;
            height: 5rem;
            & img {
              width: 10px;
            }
            .score {
              font-size: small;
            }
          }
          .user-image {
            grid-area: 1 / 2 / 2 / 3;
          }
          .username {
            grid-area: 1 / 3 / 2 / 4;
            margin-left: -60px;
          }
          .created-at {
            grid-area: 1 / 4 / 2 / 5;
            width: 5rem;
          }
          .reply-icon {
            grid-area: 1 / 8 / 2 / 9;
          }
          .comment-text {
            grid-area: 2 / 2 / 4 / 9;
            line-height: 1rem;
            margin-top: 0.5rem;
            letter-spacing: 0;
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}
